<%- partial('common/head') %>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>	
        <script type="text/javascript" src="http://ok0qzthrb.bkt.clouddn.com/canvas-nest.min2.js"></script>		
    </div>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=437250607&auto=1&height=32"></iframe>
</body>
</html>