<%- partial('common/head') %>
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=16042359332264031365' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>	
        <script type="text/javascript" src="http://ok0qzthrb.bkt.clouddn.com/canvas-nest.min2.js"></script>		
    </div>
    
</body>
</html>